<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletShowAllPatient</servlet-name>
        <servlet-class>Servlet.ServletShowAllPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletShowDiaPatient</servlet-name>
        <servlet-class>Servlet.ServletShowDiaPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jko</servlet-name>
        <servlet-class>Servlet.jko</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegister</servlet-name>
        <servlet-class>Servlet.ServletRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>der</servlet-name>
        <servlet-class>Servlet.der</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletShowPatientInfo</servlet-name>
        <servlet-class>Servlet.ServletShowPatientInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeletShowGraph</servlet-name>
        <servlet-class>Servlet.ServeletShowGraph</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>Servlet.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletShowGraphAbnormal</servlet-name>
        <servlet-class>Servlet.ServletShowGraphAbnormal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSentAbnormal</servlet-name>
        <servlet-class>Servlet.ServletSentAbnormal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletShowAllPatient</servlet-name>
        <url-pattern>/ShowAllPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletShowDiaPatient</servlet-name>
        <url-pattern>/ShowDiaPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jko</servlet-name>
        <url-pattern>/jko</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegister</servlet-name>
        <url-pattern>/ServletRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>der</servlet-name>
        <url-pattern>/der</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletShowPatientInfo</servlet-name>
        <url-pattern>/ServletShowPatientInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeletShowGraph</servlet-name>
        <url-pattern>/ServeletShowGraph</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletShowGraphAbnormal</servlet-name>
        <url-pattern>/ShowGraphAbnormal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSentAbnormal</servlet-name>
        <url-pattern>/ServletSentAbnormal</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
